.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
}

.container-item {
  flex-grow: 1;
  max-width: 50%;

  text-align: center;
  padding: 10px;
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }

  .container-item {
    max-width: 100%;
  }
}

.container-item #solutionContainer {
  order: 0;
}

.container-item #errorContainer {
  order: 1;
}

.plot {
  margin-top: 10px;
}

.input-form {
  margin: 10px 0px;
}

input {
  margin: 0px 3px;
  width: 24px;
}

/* TODO: add style for errors */
