.mainContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.inputForm {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;

  order: 0;
}

.formPart {
  text-align: center;
  flex-grow: 1;
  max-width: 50%;

  padding: 10px;
}

#ivpInputForm {
  order: 0;
}

#errorInputForm {
  order: 1;
}

#mainPlot {
  width: 100%;
  order: 1;
}

#errorPlots {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;

  order: 2;
}

#localErrorPlot {
  width: 50%;

  order: 0;
}

#maxLocalErrorPlot {
  width: 50%;

  order: 1;
}

@media (max-width: 1250px) {
  .inputForm {
    flex-direction: column;
  }

  .formPart {
    max-width: 100%;
  }

  .mainContainer {
    flex-direction: column;
  }

  #errorPlots {
    flex-direction: column;
  }

  #localErrorPlot {
    width: 100%;
  }

  #maxLocalErrorPlot {
    width: 100%;
  }
}

input {
  width: 24px;
}
